<h3>Post Form</h3>

<form action="/posts" method="post">
  <label for="post_title">Post title:</label><br>
  <input type="text" id="post_title" name="post[title]"><br>

  <label for="post_description">Post title:</label><br>
  <textarea id="post_description" name="post[description]"></textarea><br>

  <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
  <input type="submit" value="Submit Post">
</form>

<%= params.inspect %>
