<h3>Post Form</h3>

<form action="/posts" method="post">
  <input type="text" id="post_title" name="post[title]"><br>
  <textarea id="post_description" name="post[description]"></textarea><br>

  <input type="submit" value="Submit Post">
</form>
